@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


:root {
    --bg-primary: #fff;
    --bg-secondary: #0081FB;
    --bg-tertiary: #87CEFA;
    --bg-fourth: #0B0B64;
    --bg-fiveth: #000;
    --text-primary: #0081FB;
    --text-secondary: #fff;
    --text-tertiary: #87CEFA;
    --text-fourth: #000;
}

/* SECTION */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.sectionPicContainer {
    display: flex;
    width: 300px;
    height: 300px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 50%;
}

.sectionTextAndButton {
    align-self: center;
    margin-left: 2rem;
}

.sectionText {
    margin-bottom: 1rem;
    max-width: 600px;
    width: 90%;
}

.sectionText p {
    font-weight: 500;
}

.sectionTextP1 {
    text-align: center;
}

#greeting {
    text-align: left;
    color: var(--text-fourth);
}

.sectionTextP2 {
    text-align: left;
    font-size: 1.75rem;
    color: var(--text-primary);
}

.sectionTextP3 {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: var(--text-fourth);
}

.title {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.title #profileTitle {
    text-align: left;
    color: var(--text-fourth);
}

#socialsContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon, .iconGithub {
    cursor: pointer;
    height: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    color: var(--bg-secondary);
}

.iconGithub:hover {
    transform: scale(1.2);
    color: var(--bg-fiveth);
}

/* BUTTONS */

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btnContainer button {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btnColor2 {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border: none;
} 

.btnColor2:hover {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--bg-secondary);
    cursor: pointer;
}

.btnColor1 {
    border: 1px solid var(--bg-secondary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.btnColor1:hover {
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
    cursor: pointer;
}

/* ABOUT SECTION */

#about {
    padding: 3.75rem 1.25rem;
    text-align: center;
}

#aboutTitle {
    color: var(--text-primary);
}

h2 {
    color: var(--text-fourth);
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    max-width: 56.25rem;
    margin-top: 2.5rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

.imageAbout {
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
}

.imageCircle {
    width: 12.5rem;
    height: 12.5rem;
    /* background-color: ; */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCircle img {
    width: 90%;
    border-radius: 50%;
}

.aboutInfo {
    text-align: left;
    max-width: 37.5rem;
}

.aboutInfo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.aboutInfo p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: justify;
}

/* SKILLS SECTION */

#skills {
    padding: 3.75rem 1.25rem;
    border-radius: 20px;
    height: fit-content;
}

.skillsContainer {
    max-width: 56.25rem;
    margin: 0 auto;
    text-align: center;
    /* background-color: var(--bg-secondary); */
}

#skillsTitle {
    color: var(--text-primary);
    text-align: center;
}

.skillsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 0 1rem;
    margin-top: 2.5rem;
}

.skillCard {
    background-color: var(--bg-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--bg-secondary);
    box-shadow: 0.8rem 0.8rem 0 0 var(--bg-secondary);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 12rem;
    flex: 0 1 auto;
}

.skillCard:hover {
    transform: translateY(-0.5rem);
    box-shadow: 1rem 1rem 0 var(--bg-tertiary);
    border: 1px solid var(--bg-tertiary);
}

.iconCard {
    justify-items: center;
}

.iconCard img {
    width: 7rem;
    height: 7rem;
}

.skillCard .h3MySkills {
    color: var(--text-fourth);
    font-weight: 700;
}

.skillCard .h3MySkills {
    font-size: 1.25rem;
    margin-bottom: 0.1rem;
}

.skillCard p {
    font-size: 1rem;
    font-weight: 500;
}

/* EDUCATION SECTION */

#education {
    padding: 3.75rem 1.25rem;
}

#educationTitle {
    color: var(--text-primary);
    text-align: center;
}

.educationTimeline {
    max-width: 40rem;
    margin-top: 2.5rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 2.5rem;
    border-left: 0.2rem solid var(--bg-tertiary);
}

.educationItem {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
    position: relative;
}

.timelineDot {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var(--bg-secondary);
    border: 0.2rem solid var(--bg-tertiary);
    position: absolute;
    left: -2.1rem;
    top: 0.1rem;
}

.educationContent h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
    color: var(--text-primary);
}

.educationContent .date {
    font-size: 1.2rem;
    color: var(--text-fourth);
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.educationContent .description {
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 500;
    color: var(--text-fourth);
    font-family: 'Lato', sans-serif;
}

.school {
    font-weight: 500;
    color: var(--text-fourth);
}

/* PROJECTS SECTION */

#projects {
    padding: 3.75rem 1.25rem;
}

#projectsTitle {
    color: var(--text-primary);
    text-align: center;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2.5rem;
}

.projectCard {
    background-color: var(--bg-primary);
    border: 4px solid var(--bg-secondary);
    border-radius: 1rem;
    box-shadow: 0.8rem 0.8rem 0 0 var(--bg-secondary);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 20rem;
    flex: 0 1 auto;
    overflow: hidden;
    padding: 1.5rem;
    width: 50%;
    max-width: 26.25rem;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover {
    transform: translateX(-0.5rem);
    box-shadow: 1rem 1rem 0 var(--bg-tertiary);
    border: 4px solid var(--bg-tertiary);
}

.projectCard img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.projectCard img:hover {
    cursor: pointer;
}

.projectCategory {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: var(--text-fourth);
}

.projectName {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
    color: var(--text-primary);
}

.projectName:hover {
    text-decoration: underline;
    cursor: pointer;

}

/* CONTACT SECTION */

#contact {
    padding: 3.75rem 1.25rem;
    /* display: flex; */
    /* justify-content: center; */
}

.contactContainer {
    width: 100%;
    height: auto;
    max-width: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    background-color: var(--bg-fourth);
}

#contactTitle {
    color: var(--text-primary);
    text-align: center;
}

.contactSubtitle {
    margin-bottom: 2rem;
    font-size: 1rem;
    color: var(--text-secondary);
    text-align: center;
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
}

.contactSubtitle span {
    font-weight: 600;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
}

.contactForm input {
    background-color: var(--bg-primary);
}

.contactForm textarea {
    background-color: var(--bg-primary);
}

.contactForm input,
.contactForm textarea {
    border: none;
    padding: 0.75rem;
    width: 85%;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.contactForm input:focus,
.contactForm textarea:focus {
    outline: 2px solid var(--bg-secondary);
}

.contactForm button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--bg-primary);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.contactForm button:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    padding: 2rem 1.5rem;
    border-top: 3px solid var(--bg-fiveth);
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 2rem;
}

.footerContainer p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
}

.iconFooter {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 1200px) {
    .skillCard {
        width: 12rem;
    }
}

@media screen and (max-width: 768px) {

    #profile {
        display: block;
        width: 90%;
        height: fit-content;
        margin: 1rem auto;
    }

    .sectionPicContainer {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .sectionText #greeting {
        font-size: 1rem;
        text-align: center;
    }

    .btnColor1 {
        font-size: 0.8rem;
    }

    .btnColor2 {
        font-size: 0.8rem;
    }

    .btnContainer {
        margin-right: 2.5rem;
    }

    #socialsContainer {
        margin-right: 2.5rem;
    }

    .sectionText h1 {
        font-size: 2rem;
        text-align: center;
    }

    .sectionTextP2 {
        text-align: center;
    }

    #about {
        width: 90%;
        height: fit-content;
        margin: 1rem auto;
    }

    .aboutContainer {
        display: block;
    }

    .imageAbout {
        margin: 0 auto;
    }

    .aboutInfo {
        margin-top: 0.5rem;
    }

    #skills {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: fit-content;
        margin: 1rem auto;
    }

    .skillsContainer {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .skillCard {
        width: 12rem;
    }

    .iconCard img {
        width: 50%;
        height: 50%;
    }

    .skillCard .h3MySkills {
        font-size: 1.5rem;
    }

    .skillCard p {
        font-size: 1.2rem;
    }

    #education {
        width: 90%;
        height: fit-content;
        margin: 1rem auto;
    }

    .educationTimeline {
        max-width: 40rem;
        margin: 1rem auto;
    }

    #projects {
        width: 90%;
        height: fit-content;
        margin: 1rem auto;
    }

    .projectCard {
        width: 100%;
    }

    #contact {
        width: 100vw;
        height: fit-content;
        margin: 1rem auto;
        padding-top: 0;
    }

    .contactContainer {
        width: 100%;
    }

    .contactSubtitle {
        font-size: 0.8rem;
    }

    .contactForm {
        height: 45vh;
    }

    .contactForm input {
        width: 85%;
        height: 2rem;
        font-size: 0.8rem;
    }

    .contactForm textarea {
        width: 85%;
        height: 14rem;
        font-size: 0.8rem;
    }

    .contactForm button {
        width: 80%;
        font-size: 0.8rem;
    }

    .footerContainer p {
        font-size: 0.8rem;
        text-wrap: balance;
    }
}

@media screen and (max-width: 360px) {
    .skillsContainer {
        width: 100%;
    }

    .iconCard img {
        width: 40%;
        height: 40%;
    }

    .skillCard .h3MySkills {
        font-size: 100%;
    }

    .skillCard p {
        font-size: 100%;
    }
}